html {
  background-color: #EEEEEE;
}

body {
  margin: auto;
  font-family: 'OpenSans-regular',Arial,Helvetica,sans-serif;
}
p {
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
.header {
  background-color: #66d9ff;
  width: auto;
  height: 250px;
}

.main-container {
  display: flex;
  height: auto;
  padding: 30px;
}

/* container 1*/
#container1 {
  height: auto;
  width: 35%;
}

.element {
  border-radius: 11px;
  box-shadow: 0 5px 40px 0 rgba(0,0,0,.09);
  margin: 0 15px 30px 0;
}

.element:nth-child(1) {
  background-color: white;
  height: auto;
}

.element:nth-child(2) {
  background-color: white;
  height: auto;
}

.element:nth-child(3) {
  background-color: white;
  height: auto;
}

.element:nth-child(4) {
  background-color: white;
  height: auto;
}

.element:nth-child(5) {
  background-color: white;
  height: auto;
}

.element:nth-child(6) {
  background-color: white;
  height: auto;
}

/* container 2*/
#container2 {
  height: auto;
  width: 75%;
}

.element-2 {
  border-radius: 11px;
  box-shadow: 0 5px 40px 0 rgba(0,0,0,.09);
    margin: 0 0px 30px 15px;
}

.element-2:nth-child(1) {
  background-color: white;
  height: auto;
}

.element-2:nth-child(2) {
  background-color: white;
  height: auto;
}

.element-2:nth-child(3) {
  background-color: white;
  height: auto;
}

/*              */
.footer {
  background-color: rgb(179, 102, 255);
  width: auto;
  height: 250px;
}
